* {
  margin: 0;
  padding: 0;
}

@media (max-width : 680px) {

  body {
    width: 100%;
    font-family: "Poppins", sans-serif;

  }

  div.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;

    img {
      width: 20%;
    }

    h1 {
      font-size: 3rem;
    }

    .cards {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .card {

        img {
          display: block;
          width: 100%;
          height: 300px;
          object-fit: cover;

        }
      }
    }
  }

  footer {
    text-align: center;
  }

}
@media (min-width : 681px) {

  body {
    width: 100%;
    font-family: "Poppins", sans-serif;

  }

  div.main {
    width: 100%;
  
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    img {
      width: 20%;
    }

    h1 {
      font-size: 3rem;
    }

    .cards {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 20px;

      .card {
        .left{
          float: left;
        }
        .right{
          float: right;
        }
        img {
          float: left;
          border: 10px solid white;
          box-sizing: border-box;
          width: 55%;
          height: 300px;
          object-fit: cover;

        }
        h2{
          font-size: small;
        }
        
      }
    }
  }

  footer {
    width: 100%;
position: absolute;
    bottom: 0;
    clear: both;
    p{
      width: 100%;
      text-align: center;
    
    }
  }

}



/* body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
} */






/* @media(min-width:681){
  laptop
} */